{{#extend "layout"}}

{{#content "body"}}
<div class="center">
    {{#form "/signup" class="signup-form"}}
        {{label "firstname" "Please enter your first name"}}
        {{input "firstname" }}
        {{label "lastname" "Please enter your last name"}}
        {{input "lastname" }}
        {{label "email" "Please enter your email address"}}
        {{input "email"}}
        {{submit "save" "Signup!"}}
    {{/form}}
</div>
{{/content}}

{{/extend}}